<template>
    <div
        class="hero w-full h-auto py-28 md:py-0 md:min-h-screen bg-cover bg-center flex items-center justify-center md:absolute md:z-0 md:top-0">
        <div class="hero-content w-full column grid gap-5 p-2 justify-center">
            <div class="w-52 md:w-70 m-auto mb-10">
                <img src="/src/assets/logo.png" class="w-full" />
            </div>
            <div class="m-auto text-center">
                <h1 class="mb-2 w-full text-2xl md:text-5xl italic uppercase text-myred">Welcome To <span
                        class="text-myorange"> My
                        Website</span></h1>
                <p class="mb-5 uppercase text-white text-lg">I'am Aji Saputro</p>
                <router-link to="/home">
                    <button
                        class=" bg-sky-500 hover:bg-white hover:text-black text-white font-semibold px-4 py-2.5 rounded-lg mt-2 shadow-xl shadow-gray-700">Continue</button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<style scoped>
.hero {
    background-image: url('/src/assets/bgwelcome.jpg');
}
</style>