<template>
    <div>
        <NavbarHomeVue />
        <JumbotronHomeVue />
    </div>
</template>

<script setup>
import NavbarHomeVue from '../components/home/NavbarHome.vue'
import JumbotronHomeVue from '../components/home/JumbotronHome.vue'
</script>