<template>
    <div>
        <NavbarWelcomeVue />
        <JumbotronWelcomeVue />
    </div>
</template>

<script setup>
import NavbarWelcomeVue from '../components/welcome/NavbarWelcome.vue'
import JumbotronWelcomeVue from '../components/welcome/JumbotronWelcome.vue'
</script>