<template>
    <div class="hero w-full h-100 bg-cover bg-center sm:-mt-14">
        <div class="bg-gradient-to-b from-transparent to-black/50 h-full">
            <div class="hero-content text-center text-neutral-content h-full flex justify-center items-center">
                <div class="display-4">
                    <h1 class="text-5xl sm:text-6xl text-white text-shadow-custom font-light font-raleway leading-tight">
                        Welcome
                        To
                        <br>
                        <span class="font-semibold font-raleway">
                            My </span> Personal
                        <span class="font-semibold font-raleway"> Website </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full -mt-24 sm:-mt-20 lg:px-10">
        <div
            class="bg-white rounded-3xl shadow-2xl shadow-gray-400 w-full p-5 grid gap-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div class="flex gap-5">
                <div class="avatar">
                    <div class="w-20 sm:w-24">
                        <img src="/src/assets/gitlab.png" />
                    </div>
                </div>
                <div>
                    <p class="font-raleway tracking-widest">ajisahputra34</p>
                    <a href="https://gitlab.com/ajisahputra34" target="_blank" class="btn btn-primary">
                        <button
                            class="bg-primary text-white border border-primary font-raleway font-semibold rounded-lg mt-2 py-2 px-3 hover:bg-white hover:text-primary">
                            GitLab
                        </button>
                    </a>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="avatar">
                    <div class="w-20 sm:w-24">
                        <img src="/src/assets/github.png" />
                    </div>
                </div>
                <div>
                    <p class="font-raleway tracking-widest">ajisahputra78</p>
                    <a href="https://github.com/ajisahputra78" target="_blank" class="btn btn-primary">
                        <button
                            class="bg-primary text-white border border-primary font-raleway font-semibold rounded-lg mt-2 py-2 px-3 hover:bg-white hover:text-primary">
                            GitHub
                        </button>
                    </a>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="avatar">
                    <div class="w-20 sm:w-24">
                        <img src="/src/assets/linkedin.png" />
                    </div>
                </div>
                <div>
                    <p class="font-raleway tracking-widest">Aji Saputro</p>
                    <a href="https://www.linkedin.com/in/aji-saputro/" target="_blank" class="btn btn-primary">
                        <button
                            class="bg-primary text-white border border-primary font-raleway font-semibold rounded-lg mt-2 py-2 px-3 hover:bg-white hover:text-primary">
                            Linkdin
                        </button>
                    </a>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="avatar">
                    <div class="w-20 sm:w-24">
                        <img src="/src/assets/ig.png" />
                    </div>
                </div>
                <div>
                    <p class="font-raleway tracking-widest">ajisahputra78</p>
                    <a href="https://www.instagram.com/ajisahputra78/" target="_blank">
                        <button
                            class="bg-primary text-white border border-primary font-raleway font-semibold rounded-lg mt-2 py-2 px-3 hover:bg-white hover:text-primary">
                            Instagram
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="column grid md:flex items-center justify-center gap-10 md:gap-5 mt-12 p-3">
        <div class="max-w-sm h-auto m-auto">
            <img class="m-auto" src="/src/assets/card.jpeg" alt="">
        </div>
        <div class="max-w-2xl text-center">
            <h3 class="font-raleway uppercase text-red-600 text-3xl md:text-52 md:leading-tight italic"> <span
                    class="font-raleway font-bold text-unguku">
                    Univer</span>sitas
                Ami<span class="font-raleway font-bold text-unguku">kom</span> <span
                    class="font-raleway font-bold text-unguku">Yogya</span>karta</h3>
            <br>
            <p class="text-slate-600 font-extralight font-sans">
                <span class="text-slate-400"> i'm <br> Aji Saputro S.Kom</span> <br> <br>
                Saya Adalah Lulusan S1
                Informatika Angkatan 2018 di <br> Universitas Amikom Yogyakarta. Dan Saat Ini Saya <br> Bekerja Sebagai
                FullStack Web <br> Developer Di <b class="font-viga">Holding Neutron Corporation Yogyakarta.</b>
            </p>
        </div>
    </div>
    <div>
        <p class="text-center text-xs mt-5 mb-2 font-raleway text-slate-500"> 2023 All Right Reserved by Aji Saputro</p>
    </div>
</template>

<style scoped>
.hero {
    background-image: url('/src/assets/bg-home.png');
}
</style>