<template>
    <div class="navbar p-4 sm:p-2 sm:mt-3 sm:mx-14 z-10">
        <router-link to="/"
            class="text-myorange sm:text-white font-semibold flex gap-3 items-center sm:uppercase text-lg tracking-widest">
            <div class="avatar">
                <div class="w-6">
                    <img src="/src/assets/logo.png" />
                </div>
            </div>
            <span class="ml-20 font-viga sm:m-0 sm:text-shadow-custom">Aji Saputro</span>
        </router-link>
    </div>
</template>